<header>
    <h1 (click)="routeToHome()" class="site-title">
        Grandma's Best Recipes
    </h1>
</header>

<main>

    <h2 class="recipe-name"> {{recipeName}} </h2>
    <img class="recipe-img" src="{{ recipeImg }}" alt="picture of seafood" />

    <div class="ingredients-container">
        <h3 class="recipe-subtitle-text recipe-subtitle-ingd-text">Ingredients</h3>

        <div *ngFor="let recipe of recipeIngredients" class="recipe-ingredients">
            <p class="recipe-ingredient">{{ recipe.recIngredient }}</p>
            <p class="recipe-ingredient-measure">{{ recipe.recMeasure }} </p>
        </div>
        
    </div>

    <div class="instructions-container">
        <h3 class="recipe-subtitle-text recipe-subtitle-inst-text">Instructions</h3>
        <p class="recipe-instructions-text"> {{recipeInstructions}} </p>
    </div>

    <button class="home-btn" routerLink="/">See All Recipes</button>

</main>