<header>
    <h1 (click)="routeToHome()" class="site-title">
        Grandma's Best Recipes
    </h1>
</header>
<main>
    

    <h2 class="recipe-name"> {{recipeName}} </h2>

    <img class="recipe-img" src="{{ recipeImg }}" alt="picture of seafood"/>


    <div class="ingredients-container">
        <h3 class="recipe-subtitle-text recipe-subtitle-ingd-text">Ingredients</h3>

        <div class="recipeIngredients">
            <p class="recipe-ingredient" *ngIf="recipeIngredient1 !== ''">{{ recipeIngredient1 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure1 !== ''">{{ recipeIngredientMeasure1 }}
            </p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient2 !== ''">{{ recipeIngredient2 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure2 !== ''">{{ recipeIngredientMeasure2 }}
            </p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient3 !== ''">{{ recipeIngredient3 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure3 !== ''">{{ recipeIngredientMeasure3 }}
            </p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient4 !== ''">{{ recipeIngredient4 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure4 !== ''">{{ recipeIngredientMeasure4 }}
            </p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient5 !== ''">{{ recipeIngredient5 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure5 !== ''">{{ recipeIngredientMeasure5 }}
            </p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient6 !== ''">{{ recipeIngredient6 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure6 !== ''">{{ recipeIngredientMeasure6 }}
            </p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient7 !== ''">{{ recipeIngredient7 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure7 !== ''">{{ recipeIngredientMeasure7 }}
            </p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient8 !== '' ">{{ recipeIngredient8 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure8 !== ''">{{ recipeIngredientMeasure8 }}
            </p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient9 !== ''">{{ recipeIngredient9 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure9 !== ''">{{ recipeIngredientMeasure9 }}
            </p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient10 !== ''">{{ recipeIngredient10 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure10 !== ''">
                {{ recipeIngredientMeasure10 }}</p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient11 !== ''">{{ recipeIngredient11 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure11 !== ''">
                {{ recipeIngredientMeasure11 }}</p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient12 !== ''">{{ recipeIngredient12 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure12 !== ''">
                {{ recipeIngredientMeasure12 }}</p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient13 !== ''">{{ recipeIngredient13 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure13 !== ''">
                {{ recipeIngredientMeasure13 }}</p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient14 !== ''">{{ recipeIngredient14 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure14 !== ''">
                {{ recipeIngredientMeasure14 }}</p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient15 !== ''">{{ recipeIngredient15 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure15 !== ''">
                {{ recipeIngredientMeasure15 }}</p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient16 !== ''">{{ recipeIngredient16 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure16 !== ''">
                {{ recipeIngredientMeasure16 }}</p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient17 !== ''">{{ recipeIngredient17 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure17 !== ''">
                {{ recipeIngredientMeasure17 }}</p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient18 !== ''">{{ recipeIngredient18 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure18 !== ''">
                {{ recipeIngredientMeasure18 }}</p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient19 !== ''">{{ recipeIngredient19 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure19 !== ''">
                {{ recipeIngredientMeasure19 }}</p>

            <p class="recipe-ingredient" *ngIf="recipeIngredient20 !== ''">{{ recipeIngredient20 }}</p>
            <p class="recipe-ingredient-measure" *ngIf="recipeIngredientMeasure20 !== ''">
                {{ recipeIngredientMeasure20 }}</p>

        </div>

    </div>
    <div class="instructions-container">

        <h3 class="recipe-subtitle-text recipe-subtitle-inst-text">Instructions</h3>

        <p class="recipe-instructions-text"> {{recipeInstructions}} </p>
    </div>
    <button class = "home-btn" routerLink="/">See All Recipes</button>

</main>